html {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  background: rgb(247, 242, 221);
}

body {
  margin: 0;
}

h1, h2 {
  letter-spacing: 0.8rem;
  font-weight: normal;
}

h1 {
  height: 20rem;
  line-height: 20rem;
  font-size: 4rem;
  text-align: center;
  background: #686C58;
  margin: 0rem;
}

@media screen and (min-width: 48rem) {
  h1 {
    font-size: 6rem;
  }
}


h2 {
  font-size: 2.5rem;
}

p {
  text-align: left;
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #565F55;
}

footer {
  background: rgba(0, 0, 0, .1);
}

.nav-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 3rem; /* space for sticky nav bar */
  background: rgba(0, 0, 0, .1);
  z-index: 5;
}

.para-wrapper {
  display: flex;
  flex-direction: column;
}

.para-wrapper p {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pics-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

.para-wrapper, .pics-wrapper {
  margin-top: 2rem; /* space for sticky nav bar */
}

.nav-item {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  flex: 1 auto;
  text-align: center;
  border: 0.1rem solid black;
}

a {
  text-decoration: none;
  color: black;
}

.pic-item {
  margin: 1rem;
  flex: 1 auto;
}

.section-heading {
  margin-top: 6rem; /* space for sticky nav bar */
  overflow: hidden;
  text-align: center;
}

.section-heading h1, .section-heading h2 {
  display: inline-block;
  padding: 0 1.5rem;
  position: relative;
  margin-bottom: 4rem;
}

.section-heading h1::before, .section-heading h2::before,
.section-heading h1::after, .section-heading h2::after {
  background: #565F55;
  content: "";
  display: block;
  height: 0.1rem;
  position: absolute;
  top: 50%;
  width: 50%;
}

.section-heading h1::before, .section-heading h2::before {
  right: 100%;
}

.section-heading h1::after, .section-heading h2::after {
  left: 100%;
}

#my-img {
  transition: 0.3s;
}

#my-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  z-index: 10;
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 2rem;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
